
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="../../../assets/logo.png" width="50" height="30" alt="">
  <a class="navbar-brand" href="#">Red Magic Occasion</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mr-5 text-sm-center">
      <li class="nav-item" *ngIf="!authService.isLoggedIn()">
        <a class="nav-link" [routerLink]="['/home']" routerLinkActive="active" >
          <i class="fas fa-user-shield mr-1"></i>Customer login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="!authService.isLoggedIn()">
        <a class="nav-link" [routerLink]="['/organizerHome']" routerLinkActive="active" >
          <i class="fas fa-users-cog mr-1"></i>Organizer login
        </a>
      </li>
      <li class="nav-item mt-2 mr-5" *ngIf="authService.isLoggedIn()">
          <a>
              <i class="fas fa-at mr-1"></i> {{ useremail }}
          </a>
      </li>


      <li class="nav-item" *ngIf="authService.isCustomerLoggedIn()">
          <a class="nav-link" [routerLink]="['/customerProfile']" routerLinkActive="active" >
              <i class="fas fa-user mr-1"></i> Profile
          </a>
      </li>

      <li class="nav-item" *ngIf="authService.isCustomerLoggedIn()">
          <a class="nav-link" [routerLink]="['/bookEvent']" routerLinkActive="active" >
            <i class="fas fa-thumbtack  mr-1"></i> Book events
          </a>
      </li>

      <li class="nav-item" *ngIf="authService.isCustomerLoggedIn()">
          <a class="nav-link" [routerLink]="['/customerBookings']" routerLinkActive="active" >
            <i class="fas fa-bookmark mr-1"></i> My Bookings
          </a>
      </li>

      <li class="nav-item" *ngIf="authService.isOrganizerLoggedIn()">
          <a class="nav-link" [routerLink]="['/organizerProfile']" routerLinkActive="active" >
              <i class="fas fa-user mr-1"></i> Profile
          </a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-address-card mr-1"></i>About us
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-envelope mr-1"></i> Contact
        </a>
      </li>
      <li class="nav-item" *ngIf="authService.isLoggedIn()">
          <a class="nav-link" (click)="authService.logout();" style="cursor: pointer;">
              <i class="fas fa-sign-out-alt mr-1"></i>Logout
          </a>
        </li>
    </ul>
  </div>
</nav>
