<!-- Container (About Section) -->
<div class="container mt-4" id="container1">
  <div class="row">
    <div class="col-sm-8">
      <h2>Hello, we're Red Magic Occasion.</h2>
      <h5>We have helped many people gather. We’ve created a set of beautifully obvious tools that bring your events to life.</h5>
      <!-- <p>Red Magic Occasion is for everyone, doesn’t require anything to get started</p> -->
      <button class="btn btn-outline-primary btn-lg mt-5" routerLink="/home" *ngIf="!authService.isLoggedIn()">Get Started</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"><i class="fas fa-signal text-primary"></i></span>
    </div>
  </div>
</div>

<div class="container bg-grey" id="container2">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo"><i class="fas fa-globe-asia text-primary"></i></span>
    </div>
    <div class="col-sm-8 mt-4">
      <h2>Our Values</h2>
      <h4 class="mt-3"><strong>MISSION:</strong>  reliable and professional tool that helps you tackle all of the key tasks that make an Event successful</h4>
      <!-- <p><strong>VISION:</strong> Our vision Lorem ipsum..</p> -->
    </div>
  </div>
</div>

<!-- Container (Services Section) -->
<div class="container mt-4 text-center" id="container3">
  <h2>SERVICES</h2>
  <h4>What we offer</h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-off logo-small"><i class="fas fa-hands-helping text-primary"></i></span>
      <h4>Event Booking</h4>
      <p>Book different events from different organizers.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-heart logo-small"><i class="fas fa-sitemap text-primary"></i></span>
      <h4>Organize Events</h4>
      <p>Organize events and let customers subscribe to your events.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-lock logo-small"><i class="fas fa-chart-line text-primary"></i></span>
      <h4>Improve your events</h4>
      <p>Organize your event's with easy-to-understand user interface and tools.</p>
    </div>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-leaf logo-small"><i class="fas fa-power-off text-primary"></i></span>
      <h4>Power</h4>
      <p>A Single Platform for all of your Events</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-certificate logo-small"><i class="fas fa-headset text-primary"></i></span>
      <h4>Support</h4>
      <p>Access to expert level customer support.</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-wrench logo-small"><i class="fas fa-lock text-primary"></i></span>
      <h4 style="color:#303030;">Security</h4>
      <p>Secure personal event data and customer collection and compliance.</p>
    </div>
  </div>
</div>
